@import "../comps/loader/Loader.css";
@import "../comps/forecast/Card.css";

html {
  line-height: normal;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.App {
  text-align: center;
  border-radius: 5px;
  padding: 2em;
  margin: auto;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}

/* MAIN COMP */
.Main {
  padding: 20px;
  border-radius: 10px;
}

.info {
  /* flex: 1;
  align-self: center; */
  /* text-align: right; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.main-temp {
  display: flex;
  justify-content:center;
  align-items: center;
}

.temp-cond {
  display: flex;
  align-items: center;
}

.icon-weather {
  margin: 0 .5em;
}

.temp {
  font-size: 4rem;
  padding: 0;
  margin: 0 .5em;
}

.conditions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .5em;
}

p {
  font-size: 1.4em;
  padding: 0;
  margin: 0;
}

.subtext {
  padding: .5em;
}

/* SEARCHBOX COMP */
.SearchBox {
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline-style: none;
  text-align: center;
  font-size: 1.5em;
  box-shadow: 0 0px 20px -5px rgba(7, 111, 170,0.5);
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
}

.SearchBox input {
  border: none;
  padding: 10px 20px;
  flex: 1;
}


.search-btn {
  /* position: absolute; */
  /* top: 50%;
  right: 0; */
  /* transform: translateY(-50%); */
  padding: 10px;
  margin-left: 20px;
  background: none;
  border: 1px solid rgba(0,0,0,0);
  border-bottom: 1px solid rgba(0,0,0,0);
  color: rgb(7, 111, 170);
  display: none;
}

.search-btn:hover {
  border: 1px solid rgba(7, 111, 170,0.5);
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.2);
  cursor: pointer;
}


.SearchBox #lupita-svg {
  padding: 10px;
  height: 50px;
  width: 70px;
  background-color: rgba(7, 111, 170,1);
  fill: #ddd;
  transition: all 200ms ease;
}

.SearchBox #lupita-svg:hover {
  cursor: pointer;
  fill: #fff;
}


/* FORECAST COMP */
.Forecast {
  /*temp*/
  /* display: none; */
  /*temp*/
  padding: 10px 20px;
  font-size: 1.5em;
  border: 2px solid #fff;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2); */
}

.Forecast .btn-getDays {
  padding: 10px 15px;
  border-radius: 10px;
  background: rgba(7, 111, 170,1);
  color: #eee;
  border: none;
  transition: all 100ms ease-in;
}

.Forecast .btn-getDays:hover {
  cursor: pointer;
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);

}

.flaticon {
  position: absolute;
  bottom: 0;
}



/*MEDIA QUERIEEEEEEEEEEEESSS */
@media (max-width:500px) {
  .App {
    padding: 2em 0;
  }

  .SearchBox {
    margin: 0 10px;
  }

  .SearchBox input[placeholder]{
    font-size: .8em;
    overflow: hidden;
  }

  .SearchBox .search-btn {
    font-size: .9em;
  }

  .icon-weather, .temp {
    margin: 0;
  }
}
