@import "../comps/loader/Loader.css";
@import "../comps/searchbox/SearchBox.css";
@import "../comps/main/Main.css";
@import "../comps/forecast/Forecast.css";
@import "../comps/main/UvMeter.css";
@import "../comps/main/More.css";
@import "../comps/forecast/Card.css";

html {
  line-height: normal;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  /* background: rgba(7, 111, 170,0.1); */
}

.App {
  min-height: 100vh;
  text-align: center;
  border-radius: 5px;
  padding: 2em;
  margin: auto;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

}

/*MEDIA QUERIEEEEEEEEEEEESSS */
@media (max-width:500px) {
  body {
  }

  .App {
    /* min-height: auto; */
    justify-content: flex-start;
    padding: 1em 0;
  }

  .SearchBox {
    width: calc(100vw - 10%);
    margin: 0 10px;
    font-size: 1.4em;
  }

  .SearchBox input[placeholder]{
    font-size: .8em;
    overflow: hidden;
  }

  .SearchBox .search-btn {
    font-size: .9em;
  }

  .icon-weather, .temp {
    margin: 0;
  }
}
